*{
    box-sizing: border-box;
}
body{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color:rgba(243, 239, 234, 1);
}
header a{
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
a{
    text-decoration: none;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    color: #323232;
}
h1, h2{
    font-family: 'Tenor Sans', sans-serif;
    color: #57463A;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
h2{
    line-height: 150%; 
    padding-bottom: 100px;  
}
.num-bolt{
    font-family: 'Tenor Sans', sans-serif;
    color: #57463A;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    padding-top: 157.5px; 
}
.navigate{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #000;
    padding: 28px 141px 19px;
    justify-content: space-between;
}
.navigate-item{
    display: flex;
}
.navigate-item_link1{
    margin-right: 98px;
}
.navigate-item_link2{
    margin-left: 155px;
}

.top-title{
    background-image: url(../img/custom_furniture-img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 218px 448px 78px;
    color: #F6F6F6;
    align-items: center;
    height: 639px;
}
.top-title h1{
    color:#F6F6F6;
}
.top-title p{
    color:#F6F6F6;
}
.top-title_name{
    padding-top: 25px;
    padding-bottom: 90px;
}
.top-title_button{
    padding: 18px 92px;
    color:#715B4B;
    font-weight: 700;
    border: none;
}
.advantages h2{
    padding-top: 160px;
    padding-left: 142px;
}
.advantages-table{
    padding: 0 220px 160px 142px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 78px 10px;
    text-align: left;
}
.advantages-table_info{
    width: 320px;
}
.advantages-table_info .line{
    border:#715B4B solid 1px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
}
b{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    color: #323232;
}

.portfolio h2{
    padding-left: 134px;
}
.port-slider{
    padding: 0 311px 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 16px;
}
.stages h2{
    padding-left: 134px;
}
.stages-box{
    padding-left: 134px;
    display: grid;
    grid-template-columns: [start] 400px [line2] 400px [line3] 360px [end];
}
.stages-box_item{
    display: flex;
    min-width: 130px;
    height: 140px;
    padding: 20px 40px;
    justify-content: space-between;
    gap: 40px;
    border: 1px #000 solid;
}
.stages p{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: #323232;
}
.stages h3{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    color: #57463A;
}




.feedback h2{
    padding-left: 140px;
}
.feedback-images{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 117px;

}
.feedback-application{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 180px;
}
.feedback-application_button{
    padding: 18px 51px;
    border: none;
    background: #A1B29F;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    color:#F6F6F6;
}


.footer-inner{
    background-color: #715B4B;
    padding: 84px 140px;
    display: flex;
    justify-content: space-between;
}
.footer-inner_items{
    display: flex;
    flex-direction: column;
}
.footer-inner_link{
    max-width: 130px;
    display: flex;
    gap:18px;
    flex-wrap: wrap;
}
.footer-inner p{
    color: #fff;
}
.footer-inner a{
    color: #fff;
}
li{
    list-style: none;
}