*{
    box-sizing: border-box;
}
body{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color:rgba(243, 239, 234, 1);
}
header a{
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
a{
    text-decoration: none;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    color: #323232;
}
h1, h2{
    font-family: 'Tenor Sans', sans-serif;
    color: #57463A;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 100px;
    padding-top: 160px; 
    padding-left: 140px; 
}
h2{
    line-height: 150%; 
   
}
.num-bolt{
    font-family: 'Tenor Sans', sans-serif;
    color: #57463A;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    padding-top: 157.5px; 
}
.navigate{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #000;
    padding: 28px 141px 19px;
    justify-content: space-between;
}
.navigate-item{
    display: flex;
}
.navigate-item_link1{
    margin-right: 98px;
}
.navigate-item_link2{
    margin-left: 155px;
}
.title-back h1{
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 72px */
    color: #F6F6F6;
}
.title-back{
    background-image: url(../img/master-img/background.png);
    background-position: center;
    position: relative;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    gap: 100px;
    width: 100%;
    height: 600px;
    padding-bottom: 104px;
}
.title-button{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    color: #4C6D77;
    background: #F6F6F6;
    padding: 18px 59px;
    border: none;
}
.content-box{
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.content-box-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-box-items_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
span{
    padding-top: 25px;
    padding-bottom: 50px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.99%; /* 16.478px */
    color: #323232;
}
.content img{
    height: 300px;
    width: 260px;
}
.content-button{
    background: #A1B29F;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    color: #F6F6F6;
    padding: 18px 44px;
    border: none;
}
.content h1{
    padding-left: 140px;
}

.technologies-info{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 160px;
}
.technologies-info_item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 70px;
    position: relative;
}
.technologies-info_item .line{
    position: absolute;
    height: 750px;
    width: 1px;
    background-color: #C4C4C4;
    top: 60px;
    left: 28px;
    z-index: 19;
}
.technologies-info_item li{
    display: flex;
    gap: 45px;
    align-items: center;
    z-index: 21;
}
.technologies-info_item .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.technologies-info_item h4{
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.agitation_text{
    background-image: url(../img/master-img/agitation.png);
    background-repeat: no-repeat;
    height:508px ;
    padding: 0 245px;
    display: flex;
    background-position: center;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.agitation_text h1{
    padding: 0;
    color: #F6F6F6;
    text-align: center;
    /* Title 1 */
    font-family: 'Tenor Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.list-img{
    padding: 0px 160px ;
}

.list-img_box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
.list-img_box figcaption{
	display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    color: #323232;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    justify-content: flex-end;
}
.list-img_box .items{
    display: flex;
    flex-direction: column;
}

.mast_k-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.mast_k-box figcaption{
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    color: #323232;
    text-align: center;
}
.info-box  h1{
    padding: 0 0 125px 0;
}
.info-box{
    display: flex;
    padding: 160px 140px 322px;
    align-items: flex-end;
}
.info-box_button{
    padding: 18px 74px;
    background: #A1B29F;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    color: #F6F6F6;
    border: none;
}
.info-box_text p{
    padding-bottom: 47px;
    padding-right: 100px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
    color: #000;
}


.footer-inner{
    background-color: #715B4B;
    padding: 84px 140px;
    display: flex;
    justify-content: space-between;
}
.footer-inner__items{
    display: flex;
    flex-direction: column;
}
.footer-inner__link{
    max-width: 130px;
    display: flex;
    gap:18px;
    flex-wrap: wrap;
}
.footer-inner p{
    color: #fff;
}
.footer-inner a{
    color: #fff;
}
li{
    list-style: none;
}

